<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="delivery_management" name="Delivery Management"/>
    <menuitem id="delivery_management_invoices" name="Delivery Invoices" parent="delivery_management" sequence="20"/>
    <menuitem id="delivery_invoices" name="Delivery Invoices" parent="delivery_management_invoices"
              action="action_delivery_management" groups="delivery_management.group_delivery_admin"/>
    <menuitem id="delivery_assigned" name="Delivery Assigned" parent="delivery_management_invoices"
              action="action_delivery_assigned"
              groups="delivery_management.group_delivery_admin,delivery_management.group_delivery_boy"
              sequence="100"/>
    <menuitem id="delivery_onway" name="Delivery Onway" parent="delivery_management_invoices"
              action="action_delivery_onway" groups="delivery_management.group_delivery_admin" sequence="200"/>
    <menuitem id="delivery_arrived" name="Delivery Arrived" parent="delivery_management_invoices"
              action="action_delivery_arrived" groups="delivery_management.group_delivery_admin" sequence="300"/>
    <menuitem id="delivery_collection" name="Delivery Collection" parent="delivery_management_invoices"
              action="action_delivery_collection" groups="delivery_management.group_delivery_admin" sequence="400"/>
    <menuitem id="delivery_paid" name="Delivery Paid" parent="delivery_management_invoices"
              action="action_delivery_paid" groups="delivery_management.group_delivery_admin" sequence="500"/>
    <menuitem id="delivery_cancled" name="Delivery Canceled" parent="delivery_management_invoices"
              action="action_delivery_cancelled" groups="delivery_management.group_delivery_admin" sequence="600"/>
    <menuitem id="delivery_customer_payments" name="Delivery Customer Payments" parent="delivery_management_invoices"
              action="action_delivery_management" groups="delivery_management.group_delivery_admin" sequence="700"/>
    <menuitem id="menu_delivery_boy_bills"
              name="Commission Orders"
              parent="delivery_management_invoices"
              action="action_delivery_boy_bill_list"
              groups="delivery_management.group_delivery_admin"
              sequence="800"/>
    <menuitem id="delivery_management_boy_list" name="Delivery Boy" parent="delivery_management"
              action="action_delivery_boy"
              groups="delivery_management.group_delivery_admin" sequence="30"/>
</odoo>
